.dino{
    padding-top: 7%;
    padding-left: 4%;
    background-image: url('../img/background/2302.w026.n002.3182B.p1.3182.jpg');
    min-height: 74vh;
    min-width: 90vw;
    background-attachment:scroll;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left;
    transition: filter 0.3s ease;
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.3);
}

.dino > h1, .dino > h3, .dino > p{
    color: #f3f8f6;
}

.dino > h3{
    font-size: 1.2em;
    font-weight: 600;
}

.dino > p{
    margin: 30px 30px 30px 10px;
    box-shadow: 30px rgb(23, 194, 224);
    font-size: 1.2em;
    text-shadow: rgba(0, 0, 0, 0.699) 1px 0 10px;
}

.dino.dark{
    filter: brightness(0.5);
}

#dino{
    float: right;
    position: relative;
}

main{
    background: linear-gradient(to bottom, #FFFFFF, #f3f8f6);
    padding: 30px 10px 30px 0px;
    min-height: calc(100vh - 60px); /* Garante que o conteúdo preencha a tela, menos o espaço do footer */
    margin-bottom: 0; /* Sem margem extra no final */
    box-sizing: border-box;
}

main > p, main > h2, main > h3{
    color: var(--cor-texto);
    margin-bottom: 30px;
    margin-left: 30px;
}

.vantagens{
    background-image: linear-gradient(to right,#1ed3d3, #19647e);
    padding: 20px;
    width: 100vw;
    height: 40vh;
    display: flex;
    justify-content: center;
   
}
.vantagens > h3{
    font-family: var(--titulo);
    font-size: 1.4em;
}

.topicos{
    border-radius: 12px;
    height: 28vh;
    background-color: #f3f8f6c7;
    margin: 10px;
    position: relative; 
    width: 20vw;
    display: block;
    align-items: center;
    justify-content: center;
    padding: 16px;
    box-shadow: 5px 4px 6px rgba(0, 0, 0, 0.1);
    animation: go-back 1.4s;
   
}
@keyframes go-back {
    from {
      transform: translateX(200px);
    }
    to {
      transform: translateX(0);
    }
  } 
.topicos > p{
    color: var(--cor-texto);
    list-style-type: none;
    font-size: 0.92em;
    margin-bottom: 10px;
}
.emoji{
    margin-left: 40%;

}

.dados{
    display: flex;
    justify-content: center;
}

.dados > img{
    width:30%;
    height: 30%;
    margin: 10px;
}




