.dino{
    padding-top: 7%;
    padding-left: 4%;
    background-image: url('../img/background/2302.w026.n002.3182B.p1.3182.jpg');
    min-height: 74vh;
    min-width: 90vw;
    background-attachment:scroll;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left;
    transition: filter 0.3s ease;
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.3);
}

.dino > h1, .dino > h3, .dino > p{
    color: #f3f8f6;
}

.dino > h3{
    font-size: 1.2em;
    font-weight: 600;
}

.dino > p{
    margin: 30px 30px 30px 10px;
    box-shadow: 30px rgb(23, 194, 224);
    font-size: 1.2em;
    text-shadow: rgba(0, 0, 0, 0.699) 1px 0 10px;
}

.dino.dark{
    filter: brightness(0.5);
}

#dino{
    float: right;
    position: relative;
}

main{
    background: linear-gradient(to bottom, #FFFFFF, #f3f8f6);
    padding: 30px;
    height: 40vh;
  
}

main > p{
    color: var(--cor-texto);
    margin-bottom: 30px;
}


.dados{
    display: flex;
    justify-content: center;
}

.dados > img{
    width:30%;
    height: 30%;
    margin: 10px;
}

footer{
   position: fixed;
   height: 10vh;
   width: 100vw;
}
.emoji{
  margin: auto;
  margin-left: 40%;
}
.topicos > p{
color: var(--azul-escuro);
}

