.dino{
    padding-top: 7%;
    padding-left: 4%;
    background-image: url('../img/background/2302.w026.n002.3182B.p1.3182.jpg');
    min-height: 74vh;
    min-width: 90vw;
    background-attachment:scroll;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left;
    transition: filter 0.3s ease;
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.3);
}

.dino > h1, .dino > h3, .dino > p{
    color: #f3f8f6;
}

.dino > h3{
    font-size: 1.2em;
    font-weight: 600;
}

.dino > p{
    margin: 30px 30px 30px 10px;
    box-shadow: 30px rgb(23, 194, 224);
    font-size: 1.2em;
    text-shadow: rgba(0, 0, 0, 0.699) 1px 0 10px;
}

.dino.dark{
    filter: brightness(0.5);
}

#dino{
    float: right;
    position: relative;
}

main{
    background-color: transparent;
    padding: 30px 0px 0px 0px;
    min-height: calc(100vh - 60px);
    box-sizing: border-box;
    background-image: linear-gradient(to right,#1ed3d3, #19647e);
}

main > p, main > h2, main > h3{
    margin-left: 70px;
   
}
.intro{
    margin: 20px 140px 30px 120px;
    padding: 30px 30px 30px 78px;
    border-radius: 16px;
    background-color: #f3f8f6e3;
    box-shadow: 5px 6px 8px 4px rgba(0, 0, 0, 0.1); 
    font-family: var(--subtitulo);
    border: 1.5px solid #1ed3d3;
}
.circulo{
    margin-left: 10px;
    position: relative;
    float: left;
    height: 16vh;
    width: 8vw;
    border-radius: 50%;
    background-image: linear-gradient(to top,#1ed3d3, #19647e);
    box-shadow: 5px 4px 6px rgba(0, 0, 0, 0.1); 
    margin-top: 30px;   
    margin-left: 76px;
}
.circulo > img{
    height: 8vh;
    width: 4vw;
    margin: 23%;
   
}

.vantagens{
    background-image: linear-gradient(to right,#1ed3d3, #19647e);
    padding: 20px;
    width: 100vw;
    height: 43vh;
    display: flex;
    justify-content: center;
    
}

.topicos{
    border-radius: 12px;
    height: 28vh;
    background-color: #f3f8f6c7;
    margin: 10px;
    position: relative; 
    width: 20vw;
    align-items: center;
    justify-content: center;
    padding: 16px;
    box-shadow: 5px 4px 6px rgba(0, 0, 0, 0.1);
    animation: go-back 3s;
}

@keyframes go-back {
    from {
      transform: translateX(200px);
    }
    to {
      transform: translateX(0);
    }
  } 

.topicos > p{
    color: var(--cor-texto);
    list-style-type: none;
    font-size: 0.92em;
    margin-bottom: 10px;
}

.emoji{
    margin-left: 40%;
}

.dados{
    display: flex;
    justify-content: center;
    padding: 20px;
    width: 100vw;
    margin-bottom: 30px;
    
}
.dados > img{
    border-radius: 30px;
    height: 34vh;
    margin: 10px;
    position: relative; 
    width: 20vw;
    align-items: center;
    justify-content: center;
    padding: 16px;
    
}
.titulo-graficos{
   
    padding: 0px 120px 10px 160px;
    justify-content: center;
}
.titulo-graficos > h3, .relatos > h3{
display: flex;
justify-content: center;
font-size: 1.8em;
font-family: var(--titulo);
}
.relatos{
    background-color: var(--cor-fundo);
    padding: 10px;
    margin: 30px 0px 80px 0px;
    padding: 40px 120px 0px 120px;
    
}
.comentario{
    
    border-radius: 12px;
    padding: 20px;
    margin: 20px;
    box-shadow: 5px 4px 6px rgba(0, 0, 0, 0.1);
    
    
}
.comentario p{
    font-family: var(--subtitulo);
}
.alinhamento{
display: flex;
flex-direction: row;
margin: 10px;
align-items: center;

}
.comentario img{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-right: 16px;
    box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.452);
    
}
.barra{
    height: 60px;
    width: 3px;
    background-color: #19647e;
    margin-right: 4px;
}

.fundo-dados {
    background-color: var(--cor-fundo);
    width: 100%;
    margin: auto;
    padding: 20px;
    
}
#sobre{
    display: flex;
    justify-content: center;
    margin: 30px;
    color: #19647e;
}
#sobre:hover{
    color: #1ed3d3;
}





