#content{
    background-color: var(--cor-fundo);
    padding: 20px;
}
#content > h1{
    font-size: 1.4em;
    margin-top: 20px ;
    margin-bottom: 20px ;
}
#content > img{
    width: 120px;
    height: 120px;
}
